<head>
        <title>CS1</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/app.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i|Raleway:400,500,700" rel="stylesheet">
        
        <!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>-->
        <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>-->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</head>

<body>

    <div class="container">
        <div class="d-flex flex-column justify-content-center align-items-start h-100">
            <p>This site holds supplementary information for papers published by the UCD Computer Science Education Research Group headed by Dr Brett Becker. 
            </p>
            
            <p><b>Publications: </b><a href="www.brettbecker.com/publications">www.brettbecker.com/publications</a></p>
            <p><b>Contact: </b><a href="https://www.cs.ucd.ie/AcademicProfile/BrettBecker/">https://www.cs.ucd.ie/AcademicProfile/BrettBecker/</a></p>
            <p><b>Supplementary information: </b>
                <ul class="p-0" align="left">
                    <li class="services-list list-group-item">
							<i class="fas fa-arrow-right fa-arrow-white"></i> 
							<p>
							    Brett A. Becker and Thomas Fitzpatrick. 2019. What Do CS1 Syllabi Reveal About Our Expectations of Introductory Programming Students?. In Proceedings of the 50th ACM Technical Symposium on Computer Science Education (SIGCSE ’19), February 27-March 2, 2019, Minneapolis, MN, USA. ACM, New York, NY, USA, 7 pages. 
							</p>
							<a href="https://doi.org/10.1145/3287324.3287485">https://doi.org/10.1145/3287324.3287485</a>
							<ul>
							    <li>
							        <a href="http://csed.ucd.ie/sigcse2019">http://csed.ucd.ie/sigcse2019</a>
							    </li>
							</ul>
							
					</li>
                </ul>
            </p>
        </div>
        
    </div>

</body>