<% include partials/header %>

<div class="container">
    
    <p class="spacer"></p>
    
    <h1>Download Collection</h1>
    
    <p>The collection is available for download in JSON format through the following link.</p>
    
    <a href="/sigcse2019/csv"><button type = "button" class = "btn btn-primary">Download</button></a>
    
    <p class="spacer"></p>
    
</div>

<% include partials/footer %>