<% include partials/header %>

<div class="container">
    
    <p class="spacer"></p>
    
    <h1>Help page</h1>
    
    <p>Information about using this tool</p>
    
    <p class="spacer"></p>
</div>

<% include partials/footer %>