<% include partials/header %>

<div class="container">
    
    <p class="spacer"></p>
    
    <h1>Home Page</h1>
    
    <p>Click here for publication</p>
    
    <p class="spacer"></p>
    
</div>

<% include partials/footer %>