<% include partials/header %>

<div class="container">
    
    <p class="spacer"></p>
    <h1 style="text-align: center">Home</h1>
    <p class="spacer"></p>
    <div class="d-flex flex-row justify-content-center">
        <div class="col-8">
            <p>
                Brett A. Becker and Thomas Fitzpatrick. 2019. <a href="https://www.brettbecker.com/publications/#36">What Do CS1 Syllabi Reveal About Our Expectations of Introductory Programming Students?</a>. In Proceedings of the 50th ACM Technical Symposium on Computer Science Education (SIGCSE ’19), February 27-March 2, 2019, Minneapolis, MN, USA. ACM, New York, NY, USA, 7 pages. 
                
            </p>
        </div>
    </div>
    
    <p class="spacer"></p>
    
</div>

<% include partials/footer %>