<% include ../partials/header %>

<div class="container">
        <p class="spacer"></p>

    <h1 style="text-align: center">Thank You</h1>
    <p class="spacer"></p>
    <p style="text-align: center">Your submission has been recorded.</p>
    <p style="text-align: center">Thank you for your time.</p>
</div>


<% include ../partials/footer %>